livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
langchain-community
requests
aiohttp
python-dotenv
ddgs
duckduckgo-search
rapidfuzz
pyautogui
pynput
pywin32
livekit
playwright
pygetwindow
psutil
pyperclip
pycaw
comtypes
Send2Trash
google-genai
